.wrapper {
  padding: 24px;
  max-width: 1248px;
  margin: 70px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: var(--black);
}

.resetBtn {
  border-radius: 12px;
  padding: 12px;
  width: 160px;
  height: 44px;
  background: var(--background-blue);
  font-size: 16px;
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.resetBtn:hover {
  background-color: var(--hover-color);
}

.empty {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--black);
  text-align: center;
}
