.container {
  display: flex;
  flex-direction: row;
  gap: 72px;
  padding: 84px 24px;
  max-width: 1248px;
  margin: 70px auto;
}

.image {
  height: auto;
  border-radius: 19px;
  object-fit: cover;
}

.imageSection {
  display: flex;
  gap: 40px;
  flex-direction: column;
  width: 53.3%;
}

.bookingSection {
  padding: 32px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: var(--white);
}

.desktopBooking {
}

.mobileBooking {
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--black);
  margin-bottom: 8px;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
  margin-bottom: 24px;
}

.detailsSection {
  display: flex;
  flex-direction: column;
  width: 40.5%;
}

.headerBox {
  margin-bottom: 68px;
}

.carHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--black);
}

.carId {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infoItem {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--black);
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  color: var(--black);
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--background-blue);
  margin-bottom: 32px;
}

.description {
  font-size: 16px;
  color: var(--black);
  line-height: 1.5;
}

.detailsBox {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.detailBlock {
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--black);
  margin-bottom: 20px;
}

li:not(:last-child) {
  margin-bottom: 16px;
}

@media (max-width: 1199.9px) {
  .container {
    flex-direction: column;
    gap: 40px;
    max-width: 800px;
    padding: 40px 24px;
  }

  .detailsBox {
    gap: 20px;
  }

  .imageSection {
    width: 100%;
  }

  .detailsSection {
    width: 100%;
  }
}
