.container {
  display: flex;
  flex-direction: row;
  gap: 72px;
  padding: 84px 24px;
  max-width: 1248px;
  margin: 70px auto;
}

.image {
  height: auto;
  border-radius: 19px;
  object-fit: cover;
}

.imageformik {
  display: flex;
  gap: 40px;
  flex-direction: column;
  width: 53.3%;
}

.section {
  padding: 32px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: var(--white);
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--black);
  margin-bottom: 8px;
}

.textformik {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
  margin-bottom: 24px;
}

.detailsBlock {
  display: flex;
  flex-direction: column;
  width: 40.5%;
}

.data {
  margin-bottom: 68px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.titleDetails {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--black);
}

.id {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

.infoBox {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--black);
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  color: var(--black);
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--background-blue);
  margin-bottom: 32px;
}

.detailsBox {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.infoTech {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--black);
  margin-bottom: 20px;
}

li:not(:last-child) {
  margin-bottom: 16px;
}

li {
  display: flex;
  align-items: center;
}

@media (max-width: 1199.9px) {
  .container {
    flex-direction: column;
    gap: 40px;
    max-width: 800px;
    padding: 40px 24px;
  }

  .detailsBox {
    gap: 20px;
  }

  .imageformik {
    width: 100%;
  }

  .detailsBlock {
    width: 100%;
  }
}
