.container {
  display: flex;
  flex-direction: row;
  gap: 72px;
  padding: 84px 24px;
  max-width: 1248px;
  margin: 70px auto;
}

.image {
  max-width: 640px;
  height: auto;
  border-radius: 19px;
  object-fit: cover;
}

.imageformik {
  display: flex;
  gap: 40px;
  flex-direction: column;
  flex: 1 1 auto;
}

.section {
  padding: 32px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: #fff;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 8px;
}

.textformik {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
  margin-bottom: 24px;
}

.details {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 488px;
}

.data {
  margin-bottom: 68px;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
}
.id {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

.infoBox {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  color: #101828;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #3470ff;
  margin-bottom: 32px;
}
.detailsBox {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.infoTech {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 20px;
}

li:not(:last-child) {
  margin-bottom: 16px;
}

li {
  display: flex;
  align-items: center;
}
