.nav {
  display: flex;
  gap: 32px;
  align-items: center;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--black);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s;
}

.link:hover,
.link:focus {
  color: var(--hover-color);
}

.active {
  color: var(--hover-color);
}

.icon {
  font-size: 16px;
  color: var(--black);
  transition: color 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon:hover,
.icon:focus {
  color: var(--hover-color);
}

.activeIcon {
  color: var(--background-blue);
}
