.form {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.field {
  border-radius: 12px;
  padding: 14px 20px;
  width: 100%;
  height: 48px;
  background: var(--field-background);
  outline: none;
  border: none;
}

.datepickerWrapper {
  width: 100%;
}

.dateInput {
  border-radius: 12px;
  padding: 14px 20px;
  width: 100%;
  height: 48px;
  background: var(--field-background);
  outline: none;
  border: none;
  font-size: 16px;
  color: var(--black);
  cursor: pointer;
}

.field::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--placeholder-color);
}

.commentField {
  height: 88px;
}

.submitbtn {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background: var(--background-blue);
  font-size: 16px;
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitbtn:hover {
  background-color: var(--hover-color);
}

.field[placeholder="Booking date"] {
  cursor: pointer;
}
