.panel {
  max-width: 1200px;
  padding: 84px 40px 56px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.selects {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-end;
  justify-content: center;
}

.selectGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 400;
  line-height: 1.33333;
  font-size: 12px;
  color: #8d929a;
}

.inputGroup {
  display: flex;
  gap: 1px;
}

.mileageInput {
  border-radius: 12px;
  padding: 12px 16px;
  width: 110px;
  height: 44px;
  background: #f7f7f7;
  font-size: 16px;
  color: var(--black);
  border: none;
  outline: none;
}

.searchBtn,
.resetBtn {
  border-radius: 12px;
  padding: 12px;
  width: 120px;
  height: 44px;
  background: var(--background-blue);
  font-size: 16px;
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchBtn:hover,
.resetBtn:hover {
  background-color: var(--hover-color);
}

.dropdownWrapper {
  position: relative;
  width: 196px;
}

.selectBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  background: #f7f7f7;
  border-radius: 12px;
  padding: 12px 16px 12px 16px;
  width: 100%;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--black);
}

.dropdownWrapper::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border: solid var(--black);
  border-width: 0 2px 2px 0;
  padding: 4px;
  pointer-events: none;
  transition: transform 0.3s ease;
}

.open::after {
  transform: translateY(-50%) rotate(-135deg);
}

.options {
  position: absolute;
  background: var(--white);
  border-radius: 8px;
  padding: 14px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;
  outline: auto;
  outline-color: #f7f7f7;
}

.dropdownItem {
  color: #8d929a;
  cursor: pointer;
  margin-bottom: 8px;
}

.dropdownItem:hover,
.dropdownItemActive {
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--black);
}

.mileageInput::placeholder {
  color: var(--black);
}

.searchBtn:disabled,
.resetBtn:disabled {
  background-color: #f7f7f7;
  cursor: not-allowed;
  color: var(--black);
}

.options::-webkit-scrollbar {
  width: 8px;
}

.options::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.currencySwitcher {
  display: flex;
  gap: 2px;
}

.active {
  border-radius: 12px;
  padding: 12px;
  width: 70px;
  height: 44px;
  background: var(--background-blue);
  font-size: 16px;
  color: var(--white);
  border: none;
  cursor: pointer;
}

button {
  border-radius: 12px;
  padding: 12px;
  width: 70px;
  height: 44px;
  background: #f7f7f7;
  font-size: 16px;
  color: var(--black);
  border: none;
  cursor: pointer;
}
